/* This file is part of SVG pong game.
 * https://github.com/marek629/SVGpong
 * Copyright 2012 Marek Jędryka
 */

circle {
    stroke-width:   0px;
}

rect {
    stroke-width:   0px;
}

rect.paddle {
    fill:           #b7ced0;
}

rect#gameframe {
    fill:           #969cb0;
}

rect#playground {
    fill:           #23343a;
    stroke:         #40aad3;
    stroke-width:   5px;
}

text#score {
    font-family:    monospace;
    font-size:      42pt;
    stroke:         none;
}